---
title: Java Web Apps Tools
thumbnail: jenkins-thumb.png
section: Teaching
layout: lecture-outline.hbs
order: 2
description:
- "Tools for Web Apps Developer Teams."
- "Build Configuration."
- "Versioning System."
- "Continuous Integration."
- "Lecture for Master 2  CAW."

---

<p>
Ceci est une introduction rapide aux outils de travail en équipe,  dans le cadre du développement d'application web avec serveurs d'application, en Java. </p>
<p>Ce cours est complémentaire aux différentes intervension de l'UE CAW du master 2 SIRES De l'université du Havre.
</p>


