---
title: "Lab Session"
subsection: "noJava Web Apps Tools"
order: 4
description:
- "Development of a WebApp in teams"
- "Split the work load among the team"
- "Host the project on Github"
---

{{#markdown}}

##The WebApp

We want a simple WebApp that offers a text field where characters can be typed. Each time a character is entered the App would display (in a table, below the text field) a line with the character itself and its **decimal**, **hexadecimal**, **html**, and **unicode** values. 

The computation of the various codes **MUST** be done on the server and sent back to the client with JSON data. A request to the server is emitted each time a keystroke is entered in the text field. 


<p class="text-center">
![The Convert Application](images/convert.png)
</p>

## Tests tests tests tests tests

Each feature of the application (server AND client) is separately tested with the appropriated  test framework. Server-side tests should be easy to launch from maven. 

##Teams 

Each team will have to self-organize so that the server part of the application and client part are developed in parallel. Two **sub-teams** have to be created. 

Each team works with it's own git repository. Branches for sub-teams may have to be created. Their is one remote server per team, hosted at GitHub. 

Teams should not communicate their repository location to other teams, to prevent industrial espionage...

## GitHub

Everyone has to create a GitHub account. 

Each team elects a "project holder" who is responsible for the creation of the remote repository on GitHub and gives  his team members access to the project.

## Evaluation

### Individual basis

Since each commit is signed, it is easy to see who did what in the project. Marks will be given after checking the logs of the git repositories. 

### Team basis

Bonus points will be given to the **best team** (best = best organization, best application, cleanest project).


{{/markdown}}
