body {
	background:none;
}
.reveal svg{
	max-width: 95%;
	max-height: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.reveal .slides {
	text-align: left; 
 	h1, h2 {
    	text-align: center;   
    }
    h2+p {
        text-align: center;    
    }
	section img {
		border:none;
		box-shadow: none;
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin-left:1em;
	}
	input {
		font-size: inherit;
	}
	pre {
		display: block;
		position: relative;
		width: 90%;
		/*margin: 0;*/
		text-align: left;
		font-size: .75em;
		font-family: monospace;
		line-height: 1.2em;
		word-wrap: break-word;
		box-shadow: 0 0 6px rgba(0,0,0,.3);
	}
	pre code {       
		max-height: 600px;
	}
	ul, dl{
		margin-bottom: .5em ;
	}
    li, dd{
        margin-bottom: .5ex ;
    }
}
#back{
    font-family: sans-serif;
	position:absolute;
	z-index:100;
	right:5px;
	top:5px;
    height:10%;
    width:5%;
    background-image: url(../images/favicon64.png) ;     
    background-position : 50% 50%  ;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;
    text-decoration: none;
    color:gray;
    text-align: center;
    vertical-align: center;
    line-height: 100%;
}
#back:hover {
    background-image: url(../images/back.png) ;
}

table>,tbody>{
	tr:nth-child(even) {background: #FFF; border:none;}
	tr:nth-child(odd) {background: #CCC; border:none;}
}

 