//----------------------------------
//             Fonts
// ---------------------------------
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif);

$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

$font-family-sans-serif:  Droid Sans, Helvetica, sans-serif !default;
$font-family-serif: 'Droid Serif', serif !default;
$font-family-monospace: 'Droid Sans Mono', sans-serif !default;

$headings-font-family:    $font-family-sans-serif !default;
$font-family-base:        $font-family-sans-serif !default; 

$font-size-base:          15px;
// $font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
// $font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

// $font-size-h1:            floor($font-size-base * 2.2) !default; // ~36px
// $font-size-h2:            floor($font-size-base * 2) !default; // ~30px
// $font-size-h3:            ceil($font-size-base * 1.7) !default; // ~24px
// $font-size-h4:            ceil($font-size-base * 1.25) !default; // ~18px
// $font-size-h5:            $font-size-base !default;
// $font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$jumbotron-font-size:            ceil($font-size-base * 1.3) !default;

//----------------------------------
//             Variables
// ---------------------------------
$border-radius-base: 2px !default;
$border-radius-large: 3px !default;
$border-radius-small: 1px !default;

// $brand-primary: #DDC87C !default;
// $brand-success: #CAC7E2 !default;
// $brand-warning: #9FDCD2 !default;
// $brand-danger:  #E6B7AF !default;
// $brand-info:    #B5DCA3 !default;

$my_black: black !default;
$gray-darker: lighten($my_black, 13.5%) !default;
$gray-dark: lighten($my_black, 20%) !default;
$gray: lighten($my_black, 33.5%) !default;
$gray-light: lighten($my_black, 60%) !default;
$gray-lighter: lighten($my_black, 93.5%) !default;

$header-bg: transparentize($gray-light, .5);





//----------------------------------
//             Bootstrap
// ---------------------------------
// TODO : stop importing the all project. Only import what's needed...
@import "sass-bootstrap/lib/bootstrap";

.jumbotron {
@media screen and (min-width: $screen-sm-min) { 
    h1 {
      font-size: ($font-size-base * 3.5);
    }
}
}

/*----------------------------------------*/
/*           Utility classes              */
/*----------------------------------------*/
.bottom-right{
    position:absolute;
    right:0;
    bottom:0;
    margin-right:10px;

}

/*----------------------------------------*/
/*           Ad Hoc style                 */
/*----------------------------------------*/

body {
    padding-bottom: 20px;
}
header,
footer,
.jumbotron {
    padding-left: 0px;
    padding-right: 0px; 
}
.jumbotron {
    line-height: ($line-height-base * 1.2);
    background-image: url(../images/bg.svg); 
    background-size: 3300px 90px; 
    background-position: bottom left; 
    background-repeat:repeat-x;
    padding-top: 90px;
    padding-bottom: 90px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;

}

/* Custom page header */
header {
    @extend .navbar-fixed-top;
    background-color: transparentize($jumbotron-bg, .5);
}
/* Make the masthead heading the same height as the navigation */
header {
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 0;
    }
    a:hover {
        text-decoration: none;
    }
    #favicon{
        height: 40px;
        width: 40px;
        background-image : url(../images/favicon64.png);
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-position : 50% 50%           
    }
} 


/* Custom page footer */
footer {
    @extend .text-right;
    padding-top: 19px;
    color: #777;
}

.glyphicon-github:before {
  content: "\e022";
}
.glyphicon-lines:before {
  content: "\e159";
}

.bibitem { 
    margin-bottom:5px;
}
.bibitem_authors { }
.bibitem_title {
    font-weight:bold;
}
.bibitem_in {
    font-style:italic;
}
.bibitem_volume {}
.bibitem_pages {
    font-weight:bold;
}
.bibitem_year {}
.bibitem > pre {
    margin: 5px; white-space:pre-wrap;word-break: normal;
}
.bibitem > pre{
    transition:opacity .5s linear;
    opacity:1;
    z-index:-10;
    position:relative;
}
.bibitem > pre.hidd {
    transition:opacity 0 linear;
    opacity:0;
    height:0;
    padding:0;
    margin:0;
}
.section-item {
    @extend .well;
}
.section-item > img{
    @extend .pull-right;
    max-height: 95px;
}

.lecture-outline {
    font-size: larger;
}
.lecture-outline > ul, .lecture-outline > ol {
    @extend .list-unstyled;
}

.panel{
    position:relative;
}

/*----------------------------------------*/
/*               responsive               */
/*----------------------------------------*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }
    .large{
        display: block;
    }
header,
footer {
    padding-left: 0px;
    padding-right: 0px;
}


    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}