---
title: Résumé
category:
	- Résumé
layout: default.hbs
index: false

---

<h2>Experience</h2>
<hr />
<h3>Assistant Professor <small>October 2011—Present</small></h3>
<ul class="unstyled">
<li>University of Le Havre, France, LITIS Lab.</li>
<li>Research fields: Dynamic Graphs, Complex Networks, Complex Systems, Epidemiology</li>
<li>Lecturer in Computer Science (C, Web Development, UML).</li>
</ul>
<h3>Research Associate <small>October 2009—September2011</small></h3>
<ul class="unstyled">
<li>Research Associate at the University of Luxembourg (SnT), in  Prof. Bouvry's team. </li>
<li>Research fields : vehicular ad hoc networks, mobility models.</li>
</ul>

<h3>Teaching and Research Assistant <small>October 2004—September 2009</small></h3>
<ul class="unstyled">
<li>Teaching assistant at the university of Le Havre (France). 380 hours. Computer Science.</li>
<li>Research fields: mobile ad hoc networks, dynamic graphs, swarm intelligence.</li>
</ul>

<h3>Trainee in Information Technology <small>June—August 2003</small></h3>
<ul class="unstyled">
<li>Development of a management application (Microsoft VB, Access). Company "SITA-SUEZ Environnement", Le Havre, France.</li>
</ul>

<h3>Trainee in Information Technology <small>May—August 2001</small></h3>
<ul class="unstyled"><li>Development of management applications (Lotus Notes business software). Company "EDF nuclear power
plant",  Paluel & Lille, France.</li>
</ul>

<h2>Education</h2>
<hr />
<h3>Doctor degree in Computer Science <small>2004—2008</small></h3>
<ul>
<li>Title: Modeling and Processing Dynamic Graphs - Application to Mobile Ad Hoc Networks</li>
<li> Advisor: Professor Frédéric GUINAND</li>
<li>Board: Prof. Pascal BOUVRY, Prof. Serge CHAUMETTE, Prof. Isabelle GUÉRIN-LASSOUS, Dr. Clémence MAGNIEN, Prof. Alain CARDON.</li>
<li>University of Le Havre, france</li>
</ul>
<h3>Master Degree in CS <small>2002—2004</small></h3>
<ul>
<li>Thesis: Ant-Based Models for Multiple Sequences Alignment.<Li>
<li>Le Havre and Rouen Universities, France.
</ul>

