---
title: About
layout: root.hbs
---

<div class="jumbotron">
	<div class="container">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">Always a pleasure scaffolding your apps.</p>
	<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
	</div>
</div>

<div class="container">
<div class="row ">
	<div class="col-lg-4">
		<a href="resume/">My résumé</a>
	</div>
	<div class="col-lg-4">
	non
	</div>
	<div class="col-lg-4">
	oui
	</div>
</div>
</div>