---
title: Yoann Pigné
layout: root.hbs
---

<div class="jumbotron">
	<div class="container">
	<h1>Research, coding, other.</h1>
	  <p>I am an assistant professor at the university of Le Havre, France. I am interested in the modeling and simulation of interaction networks. I especially focus on human and mobile patterns. I have been working on MANETs, VANETs, and epidemiology problems. My work belongs to various fields of research from Complex Networks, Dynamic Graphs, to Complex Systems. 
	  </p>
	  <p><a class="btn btn-primary btn-large pull-right" href="{{site.full_url}}/resume/">Learn more <span class="glyphicon glyphicon-play"></a></p>
	</div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-lg-4">
	    <h2>Projects</h2>
	    <p>I am involved in several coding projects, mostly related to my research activities. The more achieved one being <a href="http://graphstream-project.org">GraphStream</a>.</p>
	    <p><a class="btn btn-primary pull-right" href="{{site.full_url}}/projects/">Details <span class="glyphicon glyphicon-play"></a></p>
	  </div>
	  <div class="col-lg-4">
	    <h2>Publications</h2>
	    <p>Results on my research work in various fields networks: mobility models, VANETs, epidemiology. </p>
	    <p><a class="btn btn-primary pull-right" href="{{site.full_url}}/publications/">Details <span class="glyphicon glyphicon-play"></a></p>
	  </div>
	  <div class="col-lg-4">
	    <h2>Teaching</h2>
	    <p>Some labs and lectures  from my teaching activities at the university of Le Havre.</p>
	    <p><a class="btn btn-primary pull-right" href="{{site.full_url}}/teaching/">Details <span class="glyphicon glyphicon-play"></a></p>
	  </div>
	</div>
</div>