---
title: Ph.D.
index: true
section: Ph.D.
---

<h2>The Manuscript</h2>
<hr />
 
<div class="row">
  <p class="text-center">
  <a class="btn btn-primary center" href="http://tel.archives-ouvertes.fr/docs/00/37/19/62/PDF/these.pdf"><span class="glyphicon glyphicon-download"></span> Download the manuscript</a> 
  </p>
</div>
 
<h2>Complementary Material</h2> 
<hr />

<p> 
  Cette section contient des vidéos qui illustre certains graphes dynamiques présentés dans la thèse. 
</p> 

<hr />


<h3>Scénario &laquo;&nbsp;couloir&nbsp;&raquo;</h3> 

<p>La vidéo suivante montre un graphe dynamique construit en utilisant le scénario &laquo;&nbsp;couloir&nbsp;&raquo;</p> 

<a class="btn btn-primary center" href="https://www.youtube.com/watch?v=TFbUmY_CpXE"><span class="glyphicon glyphicon-download"></span> Scénario &laquo;&nbsp;couloir&nbsp;&raquo;</a> 



{{!-- <div class="text-center"> 
  <iframe id="ytplayer2" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/TFbUmY_CpXE?autoplay=1&origin=http://pigne.org"
  frameborder="0"/>
</div>  
 --}}

<hr />


<h3>Scénario &laquo;&nbsp;volatilité&nbsp;&raquo;</h3> 
<p> 
  La vidéo suivante montre le comportement d'un réseaux mobile <i>ad hoc</i> simulé en utilisant le scénario &laquo;&nbsp;volatilité&nbsp;&raquo;.
</p> 


https://www.youtube.com/watch?v=U3BkMWkuoLY



{{!-- <div class="text-center"> 
  <iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/U3BkMWkuoLY?autoplay=1&origin=http://pigne.org"
  frameborder="0"/>
</div>  --}}


