<div class="container">

	<h3 class="pull-left "><a href="/">Yoann Pigné</a></h3>
	<div class="pull-right" id="favicon"></div>
	<ul class="nav nav-pills  pull-right">
		{{#each pages}}
			{{#if data.index }}
				<li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}">{{data.title}} </a></li>
			{{/if}}
		{{/each}}
	</ul>
</div>
{{!-- <div class="container">
	<div class="navbar-header">
	  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span >&#8278;</span>
	  </button>
	  <a href="http://pigne.org" class="navbar-brand">Yoann Pigné</a>
	</div>
	<nav class="pull-right navbar-collapse bs-navbar-collapse" role="navigation">
	  <ul class="nav navbar-nav">
	    {{#each pages}}
			{{#if data.index }}
				<li{{#is ../../page.dest this.dest}} class="active"{{/is}}><a href="{{relative ../../page.dest this.dest}}">{{data.title}} </a></li>
			{{/if}}
		{{/each}}
	  </ul>
	</nav>
</div> --}}