---
title: OVNIS
subtitle: 
thumbnail: ovnis-thumb.png
image: ovnis.png
tags:
	- OVNIS
section: Projects
order: 2
description: 
- "A VANET simulation platform"
- "For online vehicular wireless and traffic simulation"
- "An integration of traffic simulator SUMO with network simulator ns-3"
---
{{#markdown}}

OVNIS stands for Online Vehicular Network Integrated Simulation. It is a platform dedicated to the simulation of vehicular network applications. OVNIS integrates network simulator ns-3 and traffic microsimulator SUMO. Both simulators are coupled so that the mobility of vehicles in SUMO is injected in the mobility model of ns-3. Inversely, any simulated network application in ns-3 can influence the traffic simulation and, for instance, reroute simulated vehicles.

For more information please check the [documentation pages](https://github.com/pigne/ovnis/wiki) at Github. You may find a [definition of the architecture](https://github.com/pigne/ovnis/wiki/ArchitectureDEfinition). You may also get inputs on how to [build the platform](https://github.com/pigne/ovnis/wiki/Install).
{{/markdown}}


<br><br><br>
<p style="text-align:center; " >
  <a href="https://github.com/pigne/ovnis/" class="btn btn-primary btn-large">View project on GitHub</a>
  <a href="https://github.com/pigne/ovnis/downloads" class="btn btn-primary btn-large">Download OVNIS <small>v0.1</small></a>
</p>